<aside class="ad-footer" role="banner">
  <div class="wrapper">
    <p>
      If you love the content here at <a href='/'>SporeServant.com</a>, consider purchasing your D&D 5th Edition books using our Amazon Associate Partner links below! Thanks for reading and helping out with the costs of hosting!
    </p>

    <!-- Player's Handbook -->
    <div class='centered'>
      <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=sporeservant-20&marketplace=amazon&region=US&placement=0786965606&asins=0786965606&linkId=81e50e69a41879b7d5d79b1d7aa8b7f9&show_border=false&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=ffffff"></iframe>

      <!-- Dungeon Master's Guide -->
      <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=sporeservant-20&marketplace=amazon&region=US&placement=0786965622&asins=0786965622&linkId=f6cec78426cdc4722361f7837ad8f11d&show_border=false&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=ffffff"></iframe>

      <!-- Monster Manual -->
      <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=sporeservant-20&marketplace=amazon&region=US&placement=0786965614&asins=0786965614&linkId=885f58670221ee68a63692a65cfa37cf&show_border=false&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=ffffff"></iframe>
    </div>
  </div>
</aside>
